body {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.purchase {
  margin: 5px 45px 5px auto;
}

.textCartEmpty {
  margin-bottom: 50px;
}
